<h2 class="display-4 text-white">What is Jasmine</h2>

<ul>
    <li class="lead">Jasmine is an open source testing framework for JavaScript.</li>
    <li class="lead">Jasmine is a Behavior Driven Development testing framework. </li>
    <li class="lead">In BDD tests are written in non- technical language that everyone can understand.</li>
    <li class="lead">BDD focuses more on testing the behaviour of code instead of implementation.</li>
    <li class="lead">It does not require any other JavaScript framework.</li>
    <li class="lead">Jasmine has easy to read syntax, making it easy to understand.</li>
    <li class="lead">Jasmine supports asynchronous testing.</li>
    <li class="lead">Jasmine has test double functions called spies, A spy can stub any function and track all calls to
        it and its argument.</li>
</ul>

<h2 class="display-4 text-white">What is Karma</h2>
<ul>
    <li class="lead">Karma is a open source test runner for JavaScript created by Angular Team.</li>
    <li class="lead">Karma can be easily integrated into your project and makes it easy to execute test using CLI.</li>
    <li class="lead">Karma is useful for executing the test on browsers, other devices like phone, tablets</li>
    <li class="lead">Karma can be configured with different test frameworks including Jasmine, Mocha, QUnit.</li>
    <li class="lead">Karma can be configured with Continuous Integration tools like Jenkins, Travis or Semaphore.</li>

</ul>