#login .container #login-row #login-column #login-box {
   
    max-width: 600px;
    height: 420px;
    border: 1px solid #9C9C9C;
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #login-form {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #login-form #register-link #success-message {
    margin-top: -85px;
  }